* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #5a5e61;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

.body {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#00e2c2), to(#00ae95));
  background: linear-gradient(#00e2c2, #00ae95);
}

.wrapper {
  width: 50%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
}

.header {
  width: 100%;
  height: 75px;
  margin-bottom: 25px;
  padding-left: 23px;
  padding-right: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #b7f9f0;
}

.header-image {
  width: 30px;
  height: 30px;
}

.date-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.day-wrapper {
  height: 100%;
  color: #00ae95;
  font-size: 30px;
  font-weight: 900;
}

.date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 9px;
  font-size: 14px;
}

.week-day {
  font-weight: 900;
}

.main {
  width: 100%;
  padding-left: 20px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  position: relative;
}

.to-do-list-item {
  margin-bottom: 18px;
}

.task-done {
  color: #b7b6b8;
  text-decoration: line-through;
}

.checkbox-label {
  position: relative;
  cursor: pointer;
}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  margin-right: 15px;
  vertical-align: middle;
  color: #00ae95;
  background-color: #ffffff;
  border: 2px solid #00e3c3;
  border-radius: 100%;
  outline: none;
  cursor: pointer;
}

input[type=checkbox]:checked {
  border: 2px solid #00ae95;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

input:checked ~ .checkmark:after {
  display: block;
}

.checkmark:after {
  left: 9px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #00ae95;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal {
  width: 90%;
  padding: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #ffffff;
  background-color: #00a48c;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 5px;
}

.label-input {
  text-align: start;
}

.input-task {
  height: 40px;
  margin-top: 9px;
  margin-bottom: 22px;
  padding-left: 10px;
  color: #ffffff;
  background-color: #00a48c;
  border: 1px solid #fff;
  border-radius: 5px;
  outline-color: #fff;
  outline-width: 2px;
}

.add-task {
  width: 50%;
  margin: auto;
  padding: 7px 30px;
  color: #fff;
  background-color: #00a48c;
  border: 2px solid #fff;
  border-radius: 22px;
  cursor: pointer;
}

.footer {
  width: 100%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #d8d7d8;
}

.display-modal-button {
  width: 60px;
  height: 60px;
  color: #00ae95;
  background-color: #ffffff;
  border: 3px solid #00e3c3;
  border-radius: 100%;
  font-size: 50px;
  font-weight: 500;
  line-height: 1;
  cursor: pointer;
}

.hidden {
  display: none;
}

.task-done {
  text-decoration: line-through;
}

/*# sourceMappingURL=main.css.map */
